SOCRATA_APP_TOKEN=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=lakehouse
POSTGRES_PASSWORD=change-me
POSTGRES_DB=lakehouse

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change-me

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

SUPERSET_DATABASE=superset
SUPERSET_SECRET_KEY=change-me
